header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14%;
  background-color: #fff;
  border-bottom: 3px solid #f2f4f8;
}

.nav__links a {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #7f8488;
  text-decoration: none;
  text-transform: capitalize;
}

.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #f9f9f9;
  text-decoration: none;
}

.cta {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #fff;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 50px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #4c4c4c;
}

.nav__links li a.active {
  color: #9473f5;
}


.cta {
  margin-left: 80px;
  padding: 9px 25px;
  background-color: #fff;
  border: none !important;
  color: #9473f5;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  font-size: 23px;
}

.cta:hover {
  color: #9473f5;
}
.cta:focus {
  color: #9473f5;
}

.logo {
  cursor: default;
}


.dropdown {
  float: right;
  position: relative;
  text-decoration: none;
}

.dropdown a:hover {
  box-shadow: 0 0rem 1rem rgba(0, 0, 0, .05);
  transform: scale(1.05);
  color: #4c4c4c;
}

.svi {
  transform: scale(1.05);
  box-shadow: 0 0rem 1rem rgba(0, 0, 0, .2);
  color: #4c4c4c;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.dropdown-content {
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  left: -50px;
  background-color: #fff;
  color: #7f8488;
  text-align: end;
  min-width: 110px;
  max-height: 200px;
  overflow-y: hidden;
  overflow-x: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-content a {
  background-color: #fff;
  color: #7f8488;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #4c4c4c;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 60%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #fff;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {

  .nav__links,
  .cta {
    display: none;
  }

  .menu {
    display: initial;
  }
}

.btn-info {
  background-color: #333;
  color: #9473f5;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}

.offset-3 {
  margin-left: 25%;
}

.row2 {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.alert {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 1rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: 1px solid var(--bs-alert-border-color);
  --bs-alert-border-radius: 0.375rem;
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
}

.alert-danger {
  --bs-alert-color: #842029;
  --bs-alert-bg: #f8d7da;
  --bs-alert-border-color: #f5c2c7;
}

.alert-success {
  --bs-alert-color: #0f5132;
  --bs-alert-bg: #d1e7dd;
  --bs-alert-border-color: #badbcc;
}

.form-group {
  margin-bottom: 1rem
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  margin-top: -10px;
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-warning {
  color: #fff;
  background-color: #9473f5;
  border: none;
  margin-top: 20px;
}

.btn-info {
  margin-top: 2px;
  --bs-btn-color: #fff;
  --bs-btn-bg: #4c4c4c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #4c4c4c;
  text-align: left;
  background-color: #fff
}

input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

label {
  display: inline-block;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.flex-column {
  flex-direction: column !important;
}

.text-center {
  text-align: center !important;
}

.display-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }
}

.custom-justify-content {
  margin-top: 50px;
}

.btn-change {
  background-color: #4c4c4c;
  color: #fff;
  margin-top: 20px;
}

.p-5 {
  padding: 3rem !important;
}

.rounded {
  border-radius: var(--bs-border-radius) !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}