* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.wrapper {
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 50%;
  max-height: 550px;
  width: 100%;
  overflow-y: scroll;
  margin: 40px 0 0 0;
}

.cart-box {
  display: grid;
  grid-template-columns: 20% 35% 30%;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}


.cart-product-title {
  font-size: 1.5rem;
  color: #333;
}

.cart-price {
  font-weight: bold;
  color: #6d6d6d;
}

.cart-quantity {
  border: none;
  text-align: center;
  color: #333;
  font-size: 2rem;
}


.popup-overlay {
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: -3;
  width: 100vw;
  height: 100vh;
  user-select: none;
  opacity: 0;
}

.popup-box-container {
  background-color: #f9f9f9;
  width: 400px;
  height: 70vh;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.aktivanpopup {
  opacity: 1;
  z-index: 3;
}

.ok-btn {

  border: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 15px;
  color: #333;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 5%;
  font-size: 20px;
  cursor: pointer;
}



@media only screen and (max-width:400px) {
  .popup-box-container {
    width: 300px;
  }
}

.duzina1 {
  position: absolute;
  width: 4.2rem;
  height: 4.2rem;
  z-index: 5;
  left: 5rem;
  top: 12.5rem;
  font-size: 50px;
  text-align: center;
  color: #fff;
}
.duzina2 {
  position: absolute;
  width: 4.2rem;
  height: 4.2rem;
  z-index: 5;
  left: 19.3rem;
  top: 11.3rem;
  font-size: 50px;
  text-align: center;
  color: #fff;
}
.duzina3 {
  position: absolute;
  width: 4.2rem;
  height: 4.2rem;
  z-index: 5;
  left: 34.3rem;
  top: 11.3rem;
  font-size: 50px;
  text-align: center;
  color: #fff;
}
.duzina4 {
  position: absolute;
  width: 4.2rem;
  height: 4.2rem;
  z-index: 5;
  left: 49.9rem;
  top: 12.7rem;
  font-size: 50px;
  text-align: center;
  color: #fff;
}
.duzina5 {
  position: absolute;
  width: 4.2rem;
  height: 4.2rem;
  z-index: 5;
  left: 12.2rem;
  top: 19rem;
  font-size: 50px;
  text-align: center;
  color: #fff;
}
.duzina6 {
  position: absolute;
  width: 4.2rem;
  height: 4.2rem;
  z-index: 5;
  left: 27.8rem;
  top: 19rem;
  font-size: 50px;
  text-align: center;
  color: #fff;
}
.duzina7 {
  position: absolute;
  width: 4.2rem;
  height: 4.2rem;
  z-index: 5;
  left: 42rem;
  top: 19rem;
  font-size: 50px;
  text-align: center;
  color: #fff;
}
.duzina8 {
  position: absolute;
  width: 4.2rem;
  height: 4.2rem;
  z-index: 5;
  left: 20.7rem;
  top: 27rem;
  font-size: 50px;
  text-align: center;
  color: #fff;
}
.duzina9 {
  position: absolute;
  width: 4.2rem;
  height: 4.2rem;
  z-index: 5;
  left: 35rem;
  top: 27rem;
  font-size: 50px;
  text-align: center;
  color: #fff;
}
.duzina10 {
  position: absolute;
  width: 8.2rem;
  height: 4.8rem;
  z-index: 5;
  left: 7.2rem;
  top: 34.8rem;
  font-size: 50px;
  text-align: center;
  color: #fff;
}
.duzina11 {
  position: absolute;
  width: 8.2rem;
  height: 4.8rem;
  z-index: 5;
  left: 25.5rem;
  top: 36.5rem;
  font-size: 50px;
  text-align: center;
  color: #fff;
}
.duzina12 {
  position: absolute;
  width: 8.2rem;
  height: 4.8rem;
  z-index: 5;
  left: 42.6rem;
  top: 34.7rem;
  font-size: 50px;
  text-align: center;
  color: #fff;
}

.restoran {
  width: auto;
  height: 95%;
  margin: 1%;
}

.form-modal {
  position: relative;
  width: 100%;
  height: 40rem;
  margin-top: 4em;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 2;
}

.form-modal {
  position: relative;
  width: 75%;
  height: 47rem;
  margin-top: 1em;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.35);
  padding: 5px 10px;
  z-index: 2;
}

.form-toggle button {
  cursor: pointer;
  background: #f9f9f9;
  width: 33.33%;
  height: 100%;
  float: left;
  border: none;
  transition: 0.2s;
  font-size: 1.1em;
  font-weight: bold;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  text-align: center;
}


#aktivne-toggle {
  background: #333;
  color: #ffb266;
}



.divaktivne {
  background: white;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.divizvrsene {
  background: white;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  display: none;
}

.divodbijene {
  background: white;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  display: none;
}


p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}



a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a,
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 1rem;
  background-color: #3c373e;
  height: 45rem;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

h2 {
  font-size: 20px;
  color: #fff;
}

.table {
  margin-top: 3rem;
  min-width: 90%;
}

.table thead tr,
.table thead th {
  padding-top: 10px;
  padding-bottom: 30px;
  border-top: none;
  border-bottom: none !important;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .25rem;
}

.table tbody th,
.table tbody td {
  color: #777;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 300;
  border: none;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.table tbody th small,
.table tbody td small {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
}

.table tbody th a,
.table tbody td a {
  color: rgba(255, 255, 255, 0.3);
}

.table tbody th .more,
.table tbody td .more {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.table tbody tr {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.table tbody tr td,
.table tbody tr td {
  color: #fff;
}

.table tbody tr:hover td .more,
.table tbody tr:focus td .more {
  color: #ffb266;
}

.table .td-box-wrap {
  padding: 0;
}

.table .box {
  background: #fff;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.table .box td,
.table .box th {
  border: none !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.artklimrtvi {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  height: 35rem;
  overflow-y: scroll;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  color: #333;
  border-radius: 20px;
  font-weight: bold;
}


.stik {
  color: #48b02c;
  font-size: 30px;
  margin-left: 1rem;
  cursor: pointer;
}

.stik:hover .stik {
  transform: scale(2);
}

.x {
  color: #d84438;
  font-size: 30px;
  margin-left: 0.5rem;
  cursor: pointer;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14%;
  background-color: #fff;
  border-bottom: 3px solid #f2f4f8;
}

.nav__links a {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #7f8488;
  text-decoration: none;
  text-transform: capitalize;
}

.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #f9f9f9;
  text-decoration: none;
}

.cta {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #fff;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 50px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #4c4c4c;
}

.nav__links li a.active {
  color: #ffb266;
}


.cta {
  padding: 9px 25px;
  background-color: #FFB266;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.cta:hover {
  background-color: #f69b41;
}

.logo {
  cursor: default;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #4c4c4c;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 60%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #fff;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {

  .nav__links,
  .cta {
    display: none;
  }

  .menu {
    display: initial;
  }
}